/* ------- Estilos header ------- */

#transactions header {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

#transactions .header-actions {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 14px;
}

#transactions header h1 {
    margin: 0;
    min-width: max-content;
    font-size: 20px;
}

#transactions .search-input {
    max-width: 304px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-green);
    border-radius: 8px;
    padding: 0 15px;
}

#transactions .search-input span {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0;
}

#transactions .search-input span i {
    color: #008171;
    transform: rotateY(180deg);
}

#transactions .search-input .form-control {
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent !important;
    color: var(--color-green) !important;
    font-size: var(--font-size-2);
}

#transactions .search-input .form-control:focus {
    box-shadow: none;
}

#transactions .search-input .form-control::placeholder {
    color: var(--color-green);
}

#transactions header #create-transaction-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 65px;
    width: 100%;
    height: 100%;
    padding: 0;
    color: var(--color-white);
    background-color: var(--color-green);
}

#transactions header #create-transaction-btn:hover {
    background-color: var(--color-dark-green);
}

#transactions header #create-transaction-btn i {
    font-size: 30px;
}

#form-new-transaction {
    max-width: none;
}

#form-new-transaction .form-control {
    color: var(--color-dark-gray);
}

#form-new-transaction .form-control::placeholder {
    color: var(--color-dark-gray);
}

/* ------- Estilos conteúdo principal ------- */

#transactions .main-content {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 1 1px;
    background-color: rgba(217, 217, 217, 0.2);
    overflow: hidden;
}

#transactions .balance {
    width: max-content;
    margin: 0 auto;
    padding: 30px;
}

#transactions .balance h1 {
    font-size: var(--font-size-3);
}

#transactions .balance h1 sub {
    font-size: 20px;
}

#transactions .balance h1 sup {
    font-size: 20px;
}

#transactions .balance h2 {
    font-size: var(--font-size-2);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-striped-bg: rgba(217, 217, 217, 0.2);
}

.table-striped > tbody > tr:last-child {
    border-bottom-color: rgba(217, 217, 217, 0.2);
}

.table i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.exit i {
    color: var(--color-white);
    background-color: rgba(220, 53, 69, 0.5);
}

.entry i {
    color: var(--color-white);
    background-color: rgba(25, 135, 84, 0.5);
}

.table {
    margin-bottom: 0;
}

.table-container {
    display: flex;
    height: 100%;
    flex-grow: 1;
    border-radius: 8px;
    background-color: white;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: transparent;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-gray);
    border-radius: 20px;
}

.table tbody {
    vertical-align: middle;
}

.table tbody tr {
    cursor: pointer;
}

.table thead button {
    padding: 0;
    border-radius: 100%;
    background-color: rgba(217, 217, 217, 0.5);
}

.table thead button:hover {
    background-color: rgba(217, 217, 217, 0.7);
}

#transaction-table {
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    border-collapse: collapse; /* Opcional, para melhor aparência */
}

#transaction-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#transaction-table-body {
    display: block;
    flex: 1 1 1px;
    overflow-x: auto;
}

#transaction-table-body tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* ------- Estilos para responsividade ------- */

@media (max-width: 576px) {
    .table {
        font-size: 14px;
    }

    #transactions {
        padding: 30px;
    }
}

@media (min-width: 577px) {
    #transactions .open-aside {
        display: none;
    }
}

@media (max-width: 400px) {
    .table {
        font-size: 12px;
    }
}
